body {
  color: #ffffff;
}

.jumbotron {
  border-radius: 0;
  font-size: 48px;
  text-align: center;
}

.coral {
  color: coral;
}

.coral-sm {
  font-size: 8px;
}

.lavender {
  color: lavender;
}

.bg-lavender {
  background-color: lavender;
}

#jumbotron-header {
  font-family: 'Montserrat', sans-serif;
  background-image: url("../img/backgrounds/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#Breakfast {
  background-image: url("/img/foodtop/breakfast.jpg");
  text-align: center;
  font-size: 30px;
  height: 170px;
  width: 150px font-family: 'Montserrat', sans-serif;
}
#Breakfast:hover{
  opacity: 0.3;
}

#lunch {
  background-image: url("/img/foodtop/lunch.jpg");
  text-align: center;
  font-size: 30px;
  background-color: margenta;
  font-family: 'Montserrat', sans-serif;
}
#lunch:hover{
  opacity: 0.7;
}

#dinner {
  background-image: url("/img/foodtop/dinner.jpg");
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
#dinner:hover{
  opacity: 0.2;
}

.img-shadow {
  box-shadow: 2px 2px 5px 5px lavender;
}

#HappyHour {
  background-color: grey;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#PartyTime {
  background-color: #F15A29;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.col {
  background-image: url("/img/fastFood1.jpg");
}

.col {
  background-image: url("img/fastFood2");
}

.coral-sm {
  font-size: 20px;
}

#jumbotron-center {
  background-image: url('../img/backgrounds/foodsBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#customers {
  margin: auto;
  padding: 0;
  text-align: center;
  position: relative;
  padding-bottom: 0;
}

.container2 {
  position: relative;
  padding: 0;
   ! important;
  margin-top: 70px;
  margin-top: 23px;
  margin-bottom: 0 ! important;
  text-align: center;
}

h3 {
  color: #F15A29;
}

.color {
  color: #F15A29;
  text-align: right;
}

#subscribe {
  background-image: url("../img/backgrounds/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%auto;
}

#footer {
  background-color: #F15A29;
  margin-top: -50px;
  padding: 50px;
  text-align: center;

}
#Agehour{
  height: 50%;
  background-color: grey;
}
#PartyTime{
  background-color: #F15A29;
  height: 50%;
}
